@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bg-animation: rgba(33, 150, 243, 0.9);
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-white-color: #ffffff;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --modal-bg: rgba(0, 0, 0, 0.2);
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 400ms var(--animation-timing), transform 400ms var(--animation-timing);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 400ms var(--animation-timing), scale(1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%), scale(0.5);
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  border: 1px solid var(--modal-bg);
  cursor: pointer;
}

.close__icon {
  transition: fill 250ms var(--animation-timing);
}
.close:hover .close__icon, .close:focus .close__icon {
  fill: var(--accent-color);
}

.modal-form {
  padding: 40px 40px;
}

.modal-form__title {
  width: 100%;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal-data__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-icon {
  position: relative;
}
.modal-icon__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--animation-timing);
}
.modal-icon__input:focus, .modal-icon__input:hover {
  border: 1px solid var(--accent-color);
  outline: none;
}
.modal-icon__logo {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  border: none;
  transition: fill 250ms var(--animation-timing);
}
.modal-icon__input:focus + .modal-icon__logo, .modal-icon__input:hover + .modal-icon__logo {
  fill: var(--accent-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--animation-timing);
}
.modal-textarea:hover, .modal-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Checkbox в спрайте */
.icon {
  display: block;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.checkbox__label span {
  margin-right: 8px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 2px;
  transition: border 250ms var(--animation-timing), background-color 250ms var(--animation-timing);
}
.checkbox__input:hover + .checkbox__label span, .checkbox__input:focus + .checkbox__label span {
  border: 1px solid var(--accent-color);
}
.checkbox__input:checked + .checkbox__label span {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal__btn {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms var(--animation-timing), box-shadow 250ms var(--animation-timing);
}
.modal__btn:hover, .modal__btn:focus {
  background: var(--secondary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Checkbox в CSS */
/* .modal-checkbox {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 2px;

  transition: border 250ms var(--animation-timing), background-color 250ms var(--animation-timing);

  .checkbox-input:hover + &,
.checkbox-input:focus + & {
  border: 1px solid var(--accent-color);
}

.checkbox-input:checked + & {
  border: none;
  background-color: var(--accent-color);
  background-image: url(../images/form-icon-check.svg);
  background-size: contain;
  background-origin: content-box;
}
}
.checkbox-text-agree {
  color: var(--accent-color);
}
 */
.header {
  border: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header .container {
    height: 60px;
    justify-content: space-between;
  }
}
.header .logo__accent {
  color: var(--primary-text-color);
  transition: color 250ms var(--animation-timing);
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.header-btn {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

.header-btn:hover,
.header-btn:focus {
  fill: var(--accent-color);
}

.header-btn .header-btn__close {
  display: none;
}

.header-btn.is-open .header-btn__close {
  display: block;
}

.header-btn.is-open .header-btn__menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-menu.is-open {
    display: flex;
    padding: 48px 40px;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
    background-color: var(--primary-white-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    padding: 32px 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-left: 88px;
    margin-right: 82px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
    margin-right: 302px;
  }
}

.nav__link {
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--animation-timing);
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav__items:not(:last-child) {
    margin-right: 50px;
  }
}

.current {
  position: relative;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    margin-top: auto;
    margin-bottom: 62px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: auto;
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
}

.contacts__mail {
  display: inline-flex;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms var(--animation-timing);
}
@media screen and (min-width: 768px) {
  .contacts__mail {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__mail {
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 32px;
    padding-top: 32px;
    margin-right: 50px;
  }
}
.contacts__mail:hover, .contacts__mail:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contacts-mail-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts-mail-icon {
    margin-right: 10px;
    fill: var(--secondary-text-color);
    align-self: center;
    transition: fill 250ms var(--animation-timing);
  }
  .contacts__mail:hover .contacts-mail-icon, .contacts__mail:focus .contacts-mail-icon {
    fill: var(--accent-color);
  }
}

.contacts__tel {
  display: inline-flex;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms var(--animation-timing);
}
@media screen and (min-width: 375px) {
  .contacts__tel {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__tel {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__tel {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__tel:hover, .contacts__tel:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contacts-mob-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts-mob-icon {
    margin-right: 10px;
    fill: var(--secondary-text-color);
    align-self: center;
    transition: fill 250ms var(--animation-timing);
  }
  .contacts__tel:hover .contacts-mob-icon, .contacts__tel:focus .contacts-mob-icon {
    fill: var(--accent-color);
  }
}

.header-soc {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .header-soc {
    display: none;
  }
}

.header-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-left: 10px;
  margin-right: 10px;
}

.hero {
  background: var(--footer-bg-color);
  text-align: center;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-bg-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-bg-desk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-bg-desk@2x.jpg);
  }
}
.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--primary-text-color);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--animation-timing);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--secondary-accent-color);
}

.advantage {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.advantage__list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list {
    flex-wrap: nowrap;
  }
}
.advantage__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantage__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    flex-wrap: nowrap;
  }
}
.advantage__icon {
  display: flex;
  height: 120px;
  background: var(--button-bg-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.advantage__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantage__title {
    text-align: left;
  }
}
.advantage__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .activity {
    display: block;
    color: var(--primary-text-color);
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .activity__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
.activity .job {
  display: flex;
}
.activity .job__item {
  width: 370px;
}
.activity .job__item:not(:last-child) {
  margin-right: 30px;
}
.activity .job__product {
  position: relative;
}
.activity .job__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 27px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--button-bg-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.team__list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 767px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}

.card {
  width: 100%;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  padding: 30px 0;
}
.card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.card__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 30px;
}

.card-soc {
  display: flex;
  justify-content: center;
}

.card-soc__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.card-soc__item:first-child {
  margin-left: 0;
}

.card-soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  transition: background-color 250ms var(--animation-timing);
}
.card-soc__link:hover, .card-soc__link:focus {
  background-color: var(--accent-color);
  outline: var(--accent-color);
}

.card-soc__icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--animation-timing);
}
.card-soc__link:hover .card-soc__icon, .card-soc__link:focus .card-soc__icon {
  fill: var(--primary-white-color);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.18;
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color 250ms var(--animation-timing), border 250ms var(--animation-timing);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: var(--accent-color);
}
.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-blocks {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.footer-logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }
}
.footer-logo .footer-logo__accent {
  color: var(--primary-white-color);
  transition: color 250ms var(--animation-timing);
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    width: 231px;
    margin-right: 70px;
    margin-bottom: 0;
  }
}
.footer-contacts a {
  display: block;
}

.footer-contacts__mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 8px;
  color: var(--footer-contacts-text-color);
  transition: color 250ms var(--animation-timing);
}
.footer-contacts__mail:hover, .footer-contacts__mail:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .footer-contacts__mail {
    text-align: left;
    margin-top: 9px;
  }
}

.footer-contacts__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 8px;
  color: var(--footer-contacts-text-color);
  transition: color 250ms var(--animation-timing);
}
.footer-contacts__tel:hover, .footer-contacts__tel:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .footer-contacts__tel {
    text-align: left;
    margin-top: 9px;
  }
}

.footer-contacts__adress {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-white-color);
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__adress {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    width: 206px;
  }
}
.social__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;
  color: var(--primary-white-color);
}
@media screen and (min-width: 768px) {
  .social__title {
    margin-top: 0;
  }
}
.social__list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.social__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.social__item:first-child {
  margin-left: 0;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--animation-timing);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  outline: none;
}
.social__icon {
  fill: var(--primary-white-color);
  transition: fill 250ms var(--animation-timing);
}
.social__icon__link:hover .social__icon, .social__icon__link:focus .social__icon {
  fill: var(--primary-white-color);
}

.subscribe {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .subscribe {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 94px;
    margin-right: 0;
    text-align: left;
    width: 570px;
  }
}
.subscribe__label {
  width: 219px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    flex-wrap: nowrap;
  }
}
.subscribe__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 15px 15px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: var(--primary-white-color);
}
.subscribe__input::placeholder {
  width: 47px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-text-color);
}
.subscribe__btn {
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background: var(--secondary-accent-color);
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
  }
}
.subscribe__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.portfolio {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    justify-content: center;
    margin-bottom: 50px;
  }
  .filter .filter__item + .filter__item {
    margin-left: 8px;
    margin-bottom: 15px;
  }
}

.filter__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--button-bg-color);
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  transition: color 250ms var(--animation-timing), background-color 250ms var(--animation-timing);
}
.filter__button:hover, .filter__button:focus {
  color: var(--primary-white-color);
  outline: var(--accent-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio-cards__items {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-cards__items {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio-cards__link:hover,
.portfolio-cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline-color: transparent;
}

.portfolio-cards__link:hover .portfolio-thumbs__text,
.portfolio-cards__link:focus .portfolio-thumbs__text {
  transform: translate(0%);
}

.portfolio-content {
  padding: 20px 21px;
  background: #ffffff;
  border: 1px solid var(--button-bg-color);
}

.portfolio-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio-content__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-thumbs {
  position: relative;
  overflow: hidden;
}
.portfolio-thumbs__text {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-animation);
  transform: translateY(100%);
  transition: transform 250ms var(--animation-timing);
}

.portfolio-thumbs__depiction {
  position: absolute;
  width: 322px;
  height: 168px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}/*# sourceMappingURL=main.css.map */