.footer-logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  // font-size: 26px;
  font-size: 24px;
  // line-height: 1.19;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }

  .footer-logo__accent {
    color: var(--primary-white-color);

    transition: color 250ms var(--animation-timing);
  }

  @media screen and (min-width: 1200px) {
  }
}
