.header {
  border: 1px solid #ececec;

  .container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      height: 60px;
      justify-content: space-between;
    }
  }

  .logo__accent {
    color: var(--primary-text-color);

    transition: color 250ms var(--animation-timing);
  }
}
