.nav__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  @media screen and (min-width: 768px) {
    padding: 32px 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

    margin-left: 88px;
    margin-right: 82px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-right: 302px;
  }
  // padding-top: 48px;
  // padding-left: 40px;
}

.nav__link {
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 500;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  transition: color 250ms var(--animation-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__items:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.current {
  position: relative;
  color: var(--accent-color);
  @media screen and(min-width:768px) {
    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}
