.card-soc {
  display: flex;
  justify-content: center;
}

.card-soc__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  margin-bottom: 30px;

  &:first-child {
    margin-left: 0;
  }
}

.card-soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-white-color);

  transition: background-color 250ms var(--animation-timing);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    outline: var(--accent-color);
  }
}

.card-soc__icon {
  fill: var(--icon-color);

  transition: fill 250ms var(--animation-timing);

  .card-soc__link:hover &,
  .card-soc__link:focus & {
    fill: var(--primary-white-color);
  }
}
